
<div class='page-header'>
    <h1>Welcome, you are signed in!</h1>
</div>
<div class='panel panel-default'>
    <div class='panel-heading'>Email: {{session.currentUser.email}}</div>
      <div class='panel-heading'>Name: {{session.currentUser.displayName}}</div>

    <div class='panel-body'>
      image below
        <img src="{{session.currentUser.photoURL}}" />
    </div>
</div>
{{outlet}}
